.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 0 32px;
}

@media (min-width: 426px) and (max-width: 560px) {
    .cover__title {
      font-size: 32px;
      line-height: 36px;
    }
  }
  @media (max-width: 425px) {
    .cover__title {
      width: 250px;
      margin: 0 0 16px;
      font-size: 32px;
      line-height: 36px;
    }
  }