.lead__image-block {
    margin: 0;
  }
  @media (min-width: 426px) and (max-width: 768px) {
    .lead__image-block {
      margin: 0 auto;
      max-width: 100%;
    }
  }
  @media (max-width: 425px) {
    .lead__image-block {
      margin: 0 auto;
      max-width: 425px;
    }
  }
  